{% extends 'base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/pets/detail.css' %}" />
{% endblock %}

{% block title %} Pet Store{% endblock %}


{%block content %}
{% if info.sold %}
{% comment %}
  if already sold, button to remove from database appears
{% endcomment %}
<div class="adopted">
  <h2>ADOPTED</h2>
  <form class="delete" action="{% url 'pets:detail' info.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Remove from Inventory" />
  </form>
</div>
{% endif %}

<div class="container">
  <div class="image">
    <img src="{{info.imageUrl}}" />
  </div>

  <div class="left">
    <div class="info">
      <b><p class="name">{{info.name}}</p></b>
      <p>Age: {{info.age}}</p>
      <p>Breed: {{info.breed}}</p>
      <p>Color: {{info.color}}</p>
      <p><b>Description:</b> {{info.description}}</p>
    </div>
    <div class="button-container">
      <button class="purchase" id="myBtn" {% if info.sold %} disabled {% endif %}>Purchase</button>
    </div>
  </div>
</div>

{% comment %} Modal {% endcomment %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="purchase-form" id="purchase" action="{% url 'pets:detail' info.id %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="Purchase" />
    </form>
  </div>
</div>

{% endblock %}



{% block script %}
<script type="text/javascript">
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function () {
    modal.style.display = "block";
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>
{% endblock %}
